{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lendly Knot</title>

   
     <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_green.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'user/css/product_details.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="{% url 'home' %}"><img src="{% static 'user/img/logo.jpeg' %}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="#" id="loginBtn">Login</a> 
            <a href="{% url 'user_registration' %}">Register</a>
            
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'home' %}"> <img src="{% static 'user/img/logo.jpeg' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'shop_product' %}?category_type=W">Women's</a></li>
                            <li><a href="{% url 'shop_product' %}?category_type=M">Men's</a></li>
                            <li><a href="{% url 'shop_product' %}?category_type=A">Accessories</a></li>
                            <li><a href="{% url 'shop_product' %}">Shop</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">

                        {% if request.user.is_authenticated %}
                        {% if request.user.role == 'user' and request.user.role != 'admin' %}
                            <!-- Show logout link if the user is authenticated -->
                            <p>Hello, {{ request.session.user_name }}! <a href="{% url 'logout' %}"> Logout</a></p>
                            {% endif %}
                        {% else %} 
                                 <!-- Show logink and signup links if the user is not authenticated,
                                      login as pop-up, initially this modal div is hidden when click on login link it is displaying -->
                               <p>
                                    <a href="#" id="loginBtn">Login</a> 
                                        
                                    <a href="{% url 'user_registration' %}">Register</a>
                                    <a href="{% url 'shop_registration' %}">Shop Register</a>
                                <p>
                        {% endif %}
                        </div> 
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="#">Women’s </a>
                        <span>{{product.product_name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="{{product.product_image.url}}" alt="">
                            </a>
                            <a class="pt" href="#product-2">
                                <img src="{{product.product_image1.url}}" alt="">
                            </a>
                            <a class="pt" href="#product-3">
                                <img src="{{product.product_image2.url}}" alt="">
                            </a>
                            <a class="pt" href="#product-4">
                                <img src="{{product.product_image3.url}}" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="{{product.product_image.url}}" alt="">
                                <img data-hash="product-2" class="product__big__img" src="{{product.product_image1.url}}" alt="">
                                <img data-hash="product-3" class="product__big__img" src="{{product.product_image2.url}}" alt="">
                                <img data-hash="product-4" class="product__big__img" src="{{product.product_image3.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{product.product_name}} <span>Brand: {{product.brand_name}}</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">₹{{product.price_per_day}} <span>₹ 83.0</span></div>
                        <p>{{product.product_desc}}</p>

                        <div class="product__details__button">
                            {% if available_sizes %}
                                <form id="bookingForm">
                                    <label for="productSize">Choose a Size:</label> 
                                        <select id="productSize" name="productSize">
                                            <option value=""></option>
                                            {% for key,value in available_sizes.items %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endfor %}
                                        </select><br><br> 
                                    </form>
                            {% else %}
                                <p>No sizes available for this product.</p><br>
                            {% endif %}

                            <!-- <input type="text" id="datePicker" placeholder="Select Date Range"> -->
                            <div class="flatpickr">
                                <input type="text" id="selectedDates" placeholder="Select Date Range ..." data-input> <!-- input is mandatory -->
                                <a class="input-button" title="toggle" data-toggle>
                                    <span class="material-icons">calendar_today</span>   
                                </a>

                                <a class="input-button" title="clear" data-clear>
                                    <span class="material-icons">close</span>
                                </a>
                                
                                <div>
                                    <br> <br>
                                    <span id="numDaysText" ></span><br>
                                </div>
                            </div>
                            <br><br>
                            
                            <div class="quantity">
                                <span>Quantity:</span>
                                <div class="pro-qty">
                                    <input type="text" id="quantity" name="quantity"  value="1">
                                </div>
                            </div>
                            
                        </div>
                        <div class="product__details__button">
                            <a href="#" class="cart-btn"><span class="icon_bag_alt"></span> Add to cart</a>
                            <a href="#" class="cart-btn" onclick="bookingForm()"><span class="icon_bag_alt"></span> Book Now</a>
                        </div>
                        
                    </div>
                </div>
            </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Description</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 2 )</h6>
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed
                                    quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt loret.
                                    Neque porro lorem quisquam est, qui dolorem ipsum quia dolor si. Nemo enim ipsam
                                    voluptatem quia voluptas sit aspernatur aut odit aut loret fugit, sed quia ipsu
                                    consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nulla
                                consequat massa quis enim.</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
                                quis, sem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>RELATED PRODUCTS</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-1.jpg">
                            <div class="label new">New</div>
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-1.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Buttons tweed blazer</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-2.jpg">
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-2.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Flowy striped skirt</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 49.0</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-3.jpg">
                            <div class="label stockout">out of stock</div>
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-3.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Cotton T-Shirt</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/product/related/rp-4.jpg">
                            <ul class="product__hover">
                                <li><a href="img/product/related/rp-4.jpg" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">Slim striped pocket shirt</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Instagram Begin -->
    <div class="instagram">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                    <div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg">
                        <div class="instagram__text">
                            <i class="fa fa-instagram"></i>
                            <a href="#">@ ashion_shop</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
<footer class="footer">
    <div class="row">
        <div class="col-lg-12">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
                <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | Lendly Knot <i class="fa fa-heart" aria-hidden="true"></i> by <a href="http://127.0.0.1:8000/" target="_blank">Lendly</a></p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </div>
</footer>
<!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form"  action="{% url 'shop_product' %}" method ="GET">
                <input type="text" name = "query" id="search-input" placeholder="Search here.....">
                
            </form>
        </div>
    </div>
    <!-- Search End -->

    
    <!-- Calender display -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> 
    <script>
        
         // Declare flatpickrInstance in a broader scope
        var flatpickrInstance;
        var formattedFromDate, formattedToDate, numDays;
        // Function to calculate the difference in days between two dates
        function dateDiffInDays(a, b) {
            const diffInMs = b - a;
            return Math.floor(diffInMs / (1000 * 60 * 60 * 24)); // Convert milliseconds to days
        }

        document.getElementById('productSize').addEventListener('change', function () {
            var selectedSize = this.value;
            
            if (selectedSize) {
                // Make an AJAX request to fetch start and end dates based on the selected size
                var product_id = "{{ product.id }}"
                
                fetch(`/get_dates/${product_id}/${selectedSize}/`)
                    .then(response => response.json())
                    .then(data => {
                            const bookedDates = data.fully_booked_dates; // Use the Django template tag to insert the JSON
                            console.log(bookedDates); 
                            flatpickr(".flatpickr", {
                                mode: "range",
                                minDate: "today",
                                dateFormat: "Y-m-d",
                                conjunction: " :: ",
                                disable: bookedDates, // Map to required format
                                wrap: true,
                                onClose: function (selectedDates, dateStr, instance) {
                                    var fromDate = selectedDates[0];
                                    var toDate = selectedDates[1];

                                    formattedFromDate = fromDate.getFullYear() + '-' + ('0' + (fromDate.getMonth() + 1)).slice(-2) + '-' + ('0' + fromDate.getDate()).slice(-2);
                                    formattedToDate = toDate.getFullYear() + '-' + ('0' + (toDate.getMonth() + 1)).slice(-2) + '-' + ('0' + toDate.getDate()).slice(-2);
                                    
                                    // Calculate the difference in days between the selected dates
                                    numDays = dateDiffInDays(fromDate, toDate);
                                    
                                    // Print the number of days in HTML
                                    document.getElementById('numDaysText').textContent = "Number of days = " + numDays;

                                     
                                } 
                            });
    
                    });
            } else {
    
                alert('no item');
            }
        });

        function bookingForm() {
            
            var selectedSize = document.getElementById('productSize').value;
            var fromDate = formattedFromDate
            var toDate = formattedToDate
            var no_of_days = numDays
            var quantity = document.getElementById('quantity').value;
            var product_id = "{{ product.id }}"
            var user_id = "{{ request.session.user_id }}"
            var product_price = "{{ product.price_per_day }}"
            var total_amount = product_price * quantity * numDays
            
            var formData = {
                'user': user_id,
                'product': product_id,
                'start_date': fromDate,
                'end_date': toDate,
                'quantity_rented': quantity,
                'booked_size': selectedSize,
                'no_of_days': no_of_days,
                'amount': total_amount
            };
           
            console.log(formData);
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            // Make an AJAX request to the server
            fetch('/product_booking/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken    // Add the CSRF token if using Django
                },
                body: JSON.stringify(formData)
            })
            
            .then(response => response.json())
            .then(data => {
                //console.log(data);
                // Redirect to the new page using the URL from the response
                window.location.href = data.redirect_url;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
        
    </script>

<!-- Js Plugins -->
<script src="{% static 'user/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
<script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'user/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'user/js/mixitup.min.js' %}"></script>
<script src="{% static 'user/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'user/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'user/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'user/js/main.js' %}"></script>

</body>

</html>